html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #161616;
}
#root {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.bouncer {
  margin-top: 2rem;
  animation: bounce 2s linear infinite;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    transform: translate3d(0, -15px, 0);
  }

  70% {
    transform: translate3d(0, -7px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}
